# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Chris Deal\Google Drive\Software Engineering\Clue2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.ini
*.iml
/.idea
/out
/.idea/*.ini
/Tests/Tests/*.ini
/Tests/*.ini
.classpath
.project
/data/logfile.txt
